


html{
  scroll-behavior: smooth;
  background-color: #333;
}

#barChart{
  display: flex;
  flex-direction: column;
  align-items: center;
}



#titleText{
  background-color: #eee;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 10vh;
  width: 80vw;
  margin-top: 20px;

}



.chart{
  display: grid;
  grid-template-rows: repeat(101, 1fr);
  background-color: #eee;
  height: 60vh;
  width: 80vw;
  grid-column-gap: 5px;
}


.yAxis{
  border-right: 5px solid rgba(128, 128, 128, 0.781);;
  grid-row: 1/101;
  margin-right: 10px;
}

[class*="Percent"]{
  grid-column: 1/2;
  justify-self: end;
}

[class*="Percent"]::after{
  display: inline-block;
  content: "\2000\2000\2014";
}

.hunPercent{
  grid-row: 0;
}

.ninetyPercent{
  grid-row: 10;
}

.eightyPercent{
  grid-row: 20;
}
.seventyPercent{
  grid-row: 30;
}
.sixtyPercent{
  grid-row: 40;
}
.fiftyPercent{
  grid-row: 50;
}
.fourtyPercent{
  grid-row: 60;
}
.thirtyPercent{
  grid-row: 70;
}
.twentyPercent{
  grid-row: 80;
}
.tenPercent{
  grid-row: 90;
}


.option{
  background-color: #eee;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 30vh;
  width: 80vw;
  margin-bottom: 20px;
  
}

.optionBar{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

[class*=bar]{
  grid-row: 1/100;
  background-color: #ff4136;
}

[class*=label]{
  justify-self: center;
}