html{
  scroll-behavior: smooth;
  background-color: #333;
}

#barChart{
  display: flex;
  flex-direction: column;
}



#titleText{
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 30px 220px 30px 220px;
  margin-top: 20px;

}

.chart{
  display:grid;
  background-color: white;
  padding: 30px 220px 30px 220px;
}


.option{
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 30px 220px 30px 220px;
  margin-bottom: 20px;
}

.optionBar{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}